@font-face {
    font-family: 'gothiceregular';
    src: url('../font/gothice_-webfont.woff2') format('woff2'),
    url('../font/gothice_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html{
    position: relative;
    height: 100%;
    overflow-x: hidden;

}
body {
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    font-family: serif;
    background-image: url(../img/f4.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}
.contenedor{
    text-align: center;
    color: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    width: 100%;
    height: 50%;
    top: 25%;
    left: 50%;
    margin: 0 0 0 -50%;
}
#logo{
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    font-family: gothiceregular;
    font-size: 65px;
}
#proximamente{
    position: absolute;
    top: 49%;
    left: 0;
    right: 0;
    font-size: 30px;
    padding-top: -50%;
    box-sizing: border-box;
}
#redes-sociales{
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0 25% 0;
}
#redes-sociales div{
    position: relative;
    display: inline-block;
    width: 30%;
}
#redes-sociales div a{
    text-decoration: none;
    position: relative;
    height: 100%;
}
#redes-sociales div a img{
    width: 80%;
}

@media (min-width: 360px){
#logo{
    font-size: 70px;
}
#proximamente{
    font-size: 35px;
}
#redes-sociales div{
    width: 30%;
}
#redes-sociales div a img{
    width: 80%;
}
}


@media (min-width: 768px){
#logo{
    font-size: 100px;
}
#proximamente{
    font-size: 35px;
}
#redes-sociales div a img{
    width: 55%;
}
}

@media (min-width: 1200px){
#logo{
    font-size: 100px;
}
#proximamente{
    font-size: 35px;
}
#redes-sociales div a img{
    width: 45%;
}
}
@media (min-width: 360px) and (max-width: 768px) and (orientation:landscape){
#logo{
    font-size: 3.5rem;
}
#proximamente{
    font-size: 1.8rem;
}
#redes-sociales div a img{
width: 25%;
}
}

