@font-face {
    font-family: 'gothiceregular';
    src: url('../font/gothice_-webfont.woff2') format('woff2'),
         url('../font/gothice_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html{
    height: 100%;
    position: relative;
}
body {
    font-family: serif;
    background-image: url(../img/f4.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 50%;
    margin: -25% 0 0 -50%;
}
#logo{
    font-family: gothiceregular;
    font-size: 45px;
}
#proximamente{
    font-size: 20px;
    margin-top: 8%;
}
#redes-sociales{
    margin-top: 8%;
    display: block;
    position: relative;
    height: auto;
    width: 100%;
    padding: 0 15% 0;
}
#redes-sociales div{
    position: relative;
    float: left;
    display: block;
    width: 23.33%;
}
#redes-sociales div a{
    text-decoration: none;
    position: relative;
}
#redes-sociales div a img{
    width: 50%;
}

@media (min-width: 360px) {
body{
    padding-top:35%;
    padding-bottom: 0%;
    overflow-x: hidden;
    overflow-y: hidden;
}
#logo{
    font-size: 75px;
    margin: 0;
    padding: 0;
}
#proximamente{
    font-size: 35px;
    margin: 0;
    padding-top: 3%;
}
#redes-sociales{
    margin-top: 10%;
    padding: 0 25% 0;
}
#redes-sociales div{
    width: 16.66%;
}
#redes-sociales div a img{
    width: 80%;
}
}


@media (min-width: 768px) {
body{
    padding: 0;
}
#logo{
    font-size: 100px;
    margin: 0;
    padding: 0;
}
#proximamente{
    font-size: 40px;
    margin: 0;
    padding-top: 3%;
}
#redes-sociales{
    margin-top: 5%;
    padding: 0 35% 0;
}
#redes-sociales div{
    width: 10%;
}
#redes-sociales div a img{
    width: 45%;
}
}


@media (min-width: 1200px) {
body{
    padding-top:8%;
    padding-bottom: 2%;
    overflow-x: hidden;
    overflow-y: hidden;
}
#logo{
    font-size: 150px;
    margin: 0;
    padding: 0;
}
#proximamente{
    font-size: 52px;
    margin:0;
    padding-top: 2%;
}
#redes-sociales{
    margin-top: 4%;
    padding: 0 35% 0;
}
#redes-sociales div{
    width: 10%;
}
#redes-sociales div a img{
    width: 43%;
}
}

