@font-face {
    font-family: 'gothiceregular';
    src: url('../font/gothice_-webfont.woff2') format('woff2'),
    url('../font/gothice_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html{
    position: relative;
    height: 100%;
    overflow-x: hidden;

}
body {
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    font-family: serif;
    background-image: url(../img/f4.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}
#title{
    background-image: url(../img/llama.png);
}
.contenedor{
    text-align: center;
    color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    height: 50%;
    top: 25%;
    left: 50%;
    margin: 0 0 0 -50%;
}
#logo{
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    font-family: gothiceregular;
    font-size: 20vw;
}
#proximamente{
    position: absolute;
    top: 49%;
    left: 0;
    right: 0;
    font-size: 10vw;
    padding-top: -50%;
    box-sizing: border-box;
}
#redes-sociales{
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    /* padding: 0 25% 0; */
}
#redes-sociales div{
    position: relative;
    display: inline-block;
    width: 15%;
}
#redes-sociales div a{
    text-decoration: none;
    position: relative;
    height: 100%;
}
#redes-sociales div a img{
    width: 100%;
}

@media (min-width: 360px){
#logo{
    font-size: 15vw;
}
#proximamente{
    font-size: 8vw;
}
#redes-sociales div{
    width: 17%;
}
#redes-sociales div a img{
    width: 15vw;
}
}

@media (min-width: 768px){
    #logo{
        font-size: 14vw;
    }
    #proximamente{
        font-size: 6.5vw;
    }
    #redes-sociales div{
        width: 13%;
    }
    #redes-sociales div a img{
    width: 9vw;
    }
}

@media (min-width: 360px) and (max-width: 768px) and (orientation:landscape){
#logo{
    font-size: 15vh;
}

#proximamente{
    font-size: 7vh;
}
#redes-sociales div{
    width: 7.5%;
}
#redes-sociales div a img{
width: 9vh;
}
}
@media (min-width: 768px) and (max-width: 1200px) and (orientation:landscape){
    #logo{
        font-size: 15vh;
    }
    #proximamente{
        font-size: 7vh;
    }
    #redes-sociales div{
        width: 8%;
    }
    #redes-sociales div a img{
    width: 9vh;
}
}
@media (min-width: 1200px) {
    #logo{
        font-size: 15vw;
    }
    #proximamente{
        font-size: 7vw;
    }
    #redes-sociales div{
        width: 10%;
    }
    #redes-sociales div a img{
        width:9vw;
    }
}
@media (min-width: 1200px) and (orientation:landscape) {
    #logo{
        font-size: 16vh;
    }
    #proximamente{
        font-size: 7.6vh;
    }
    #redes-sociales div{
        width: 7.3%;
    }
    #redes-sociales div a img{
        width:9vh;
    }
}